#passwordForm {
    width: 90%;
    margin: 0 auto;
    height: auto;
    background: #fafafa;
}

#passwordOutput {
    width: 90%;
    margin: 0 auto 2em auto;
    padding: 1em;
    background-color: #f1f1f1;
    border: 0.125em dashed #aaa;
    border-radius: 0.5em;
    font-size: 1.25em;
    font-weight: bold;
    color: #333;
    text-align: center;
    overflow-wrap: break-word;
}

.checkbox-container {
    width: 100%;
    text-align: center;
    margin-bottom: 2em;
    padding: 1em 0;
}

.checkbox-container label {
    margin: 0.75em auto;
    text-align: left;
    font-size: 1em;
    color: #555;
    padding: 0.25em;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 0.5em;
    transform: scale(1.2);
    vertical-align: middle;
}

.long {
    margin: 3%;
}

.long #long-val {
    font-weight: bold;
    color: #333;
    font-size: 1.2em;
    margin-right: 0.5em;
}

.long #long-val input[type="range"].slider {
    width: 100%;
    margin: 0.5em 0;
    display: block;
    cursor: grab;
}

#generateButton {
    margin: 1.5em auto 0 auto;
    display: block;
}