#generadorForm {
    width: 90%;
    height: auto; 
    margin: 2em auto;
    padding: 3em;
    text-align: center; 
    display: block; 
}

#nombreResultado {
    font-size: 1.8em;
    font-weight: bold;
    color: #333;
    padding: 1em;
    margin: 0 0 2em 0; 
    min-height: 2em;
    line-height: 1.2;
    width: 100%; 
}

#radioButtons {
    margin-bottom: 2em;
    font-size: 1.3em;
    padding: 1em;
    display: inline-block; 
}

#radioButtons label {
    margin: 0 1em;
    cursor: pointer;
    color: #555;
    display: inline-block; 
}

#radioButtons input[type="radio"] {
    margin-left: 0.5em;
    vertical-align: middle;
}

#generarBoton {
    display: block;
    margin: 1em auto 0 auto;
}