#contenedor-temporizador {
    width: 90%; 
    margin: 0 auto;
    text-align: center;
    padding-bottom: 50px;
}

#controles-tiempo {
    width: 45%;
    margin: 1em auto;
    overflow: hidden;
}

.unidad-tiempo {
    width: 33%;
    float: left;
    padding: 0.5em;
}

.etiqueta {
    font-size: 1em;
    font-weight: bold;
    margin: 5px 0;
}

.modificador {
    color: #333;
    border: solid #ccc;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
    margin: 2px;
}

#display-temporizador {
    font-size: 4em;
    font-weight: bold;
    color: #4CAF50;
    background-color: #d9d9d9;
    width: 40%;
    margin: 0.75em auto;
    padding: 1.5em 3em;
    border-radius: 5%;
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
    font-family: 'Courier New', Courier, monospace;
}

#controles-principales button {
    margin: 0.5em 2%;
}

#iniciar-pausar {
    color: white;
}

#reiniciar {
    color: white;
}
